 body{
   position: absolute;
   top: 10px;
   left: 3px;
   width: auto;
   background-color: rgba(126, 126, 126, 0);
 }
 .label{
   color: #e8e7e7;
   font-weight:bold ;
   margin:10px;
 }
 .select {
     background-color: rgb(54, 53, 53);
     padding: 8px 16px;
     cursor: pointer;
     font-size: 13px;
     width: 80px;
     border-radius: 50px;
     font-weight: bold;
   }
.option{
  color: #e8e7e7;
  font-weight: bold;
}


