body{
  background-color: #111111;
  bottom: 0;
  max-height: 15%;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  color: #ada9a9;
  align-items: center;
  justify-content: center;
}
h3{
  position: relative;

}
