<!-- table.component.html -->
<div class="table-container">
  <table>
    <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column }}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let row of data">
      <tr (click)="onRowClick(row)" [class.selected]="isSelectedRow(row)">
        <td *ngFor="let column of columns">{{ row[column] }}</td>
      </tr>
      <tr *ngIf="isSelectedRow(row)">
        <td [attr.colspan]="columns.length">
          <ng-content></ng-content>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
