
.filterButton{
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
.table{
  position:relative;
  display:flex;
  justify-content: center;
  margin: 20px;
}
.form {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
div {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 16px;
  app-sort{
    margin-top: 25px;
    position: relative;
    left: 10%;
  }
  app-form{
    position: fixed;
    right: 10%;
  }
}


