<div class="popup-container"  *ngIf="ticket" [ngClass]="{'active' : ticket}">
  <div >
    <h1>{{ 'ticket' | translate }}</h1>
  <app-button class="button" buttonColor="white" buttonSize="small" buttonName="{{ 'close' | translate }}" (click)="closePopup()"></app-button>
  </div>
  <div class="ticketDetails">
    <div>
      <strong>{{ 'player' | translate }} ID:</strong> {{ ticket.playerId }}
    </div>
    <div>
      <strong>{{ 'username' | translate }} :</strong> {{ findPlayerById(ticket.playerId) }}
    </div>
    <div>
      <strong>{{ 'created_at' | translate }}:</strong> {{ ticket.createdAt | date: 'medium' }}
    </div>
    <div>
      <strong>{{ 'pay_in_amount' | translate }}:</strong> {{ ticket.payInAmount }} {{ ticket.currency }}
    </div>
    <div>
      <strong>{{ 'pay_out_amount' | translate }}:</strong> {{ ticket.payOutAmount }} {{ ticket.currency }}
    </div>
    <div>
      <strong>{{ 'status' | translate }}:</strong> {{ ticket.status }}
    </div>
    <h3><strong>{{ 'bets' | translate }}:</strong></h3>
    <table>
      <app-bets betsId="{{ticket.id}}"></app-bets>
    </table>
  </div>
</div>
<div class="overlay" *ngIf="ticket" [ngClass]="{'active' : ticket}" (click)="closePopup()"></div>
