<div class="sidebar" [ngClass]="{ 'open': isOpen }" (click)="openSidebar()" >
  <button class="sidebar-btn">
    <span class="icon">&#x2630;</span>
  </button>
<div class="userDiv">
  <div *ngIf="isOpen" class="user">
    {{user.username}}
  </div>
  </div>
  <div class="buttons">
    <app-button-form *ngIf="hasGrant('CanViewTickets')" (click)="openTickets()" buttonName="{{ 'tickets' | translate }}" buttonColor="white"></app-button-form>
  </div>
  <div class="buttons">
  <app-button-form *ngIf="hasGrant('CanViewTransactions')" (click)="openTransactions()" buttonName="{{ 'transactions' | translate }}" buttonColor="white"></app-button-form>
  </div>
  <div class="buttons">
    <app-button-form (click)="openPlayers()" buttonName="{{ 'players' | translate }}" buttonColor="white"></app-button-form>
  </div>
<div class="tables">
  <div *ngIf="showTicketDetails" >
    <app-tickets></app-tickets>
  </div>
  <div *ngIf="showTransactionDetails">
    <app-transaction></app-transaction>
  </div>
</div>
</div>
