.sidebar {
  background-color: #111111;
  height: 100%;
  width: 250px;
  position: absolute;
  top: 0;
  left: -190px;
  padding-top: 20px;
  transition: left 0.3s ease;
  z-index: 100;
  justify-content: center;
  box-shadow: 0 0 20px 5px rgba(10, 10, 10, 0.74);
  align-items: end;
}
img { border-radius: 50%;
  margin:10px;
  width: 35px;
  height: 35px; }
.open {
  left: 0;
}
.user{
  position: absolute;
  font-size: 20px;
  top:2%;
  left:30%;
  color: #ada9a9;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.welcome{
  font-size: 20px;
  color: #ada9a9;
  position: relative;
  margin-left:15px;
  margin-top: 20px;
  justify-content: center;
}
.buttons{
  position: relative;
  top:3%;
  color: #ada9a9;
  font-size: 27px;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  div{
    margin-top: 40px;
    &:hover {
      border: 4px solid rgba(215, 202, 202, 0);
    }
  }
}
.content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  padding: 16px;
}
.sidebar-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  right: 10px;
  position: absolute;
  flex-direction: column;
  align-items: center;
}
.icon {
  font-size: 24px;
  color: #fff;
}
