<div class="sidebar" [ngClass]="{ 'open': isOpen }" (click)="openSidebar()" >
<div class="userDiv">
  <div *ngIf="isOpen" class="user">
    {{user.username}}
  </div>
  </div>
  <div class="buttons">
    <app-button-form *ngIf="hasGrant('CanViewTickets')" (click)="openTickets()" buttonName="{{ 'dashboard_tickets' | translate }}" buttonColor="white"></app-button-form>
  </div>
  <div class="buttons">
  <app-button-form *ngIf="hasGrant('CanViewTransactions')" (click)="openTransactions()" buttonName="{{ 'dashboard_transactions' | translate }}" buttonColor="white"></app-button-form>
  </div>

<div class="tables">
  <div *ngIf="showTicketDetails" >
    <app-table-form></app-table-form>
  </div>
  <div *ngIf="showTransactionDetails">
    <app-transaction-table-form></app-transaction-table-form>
  </div>
</div>
</div>
