<div class="sidebar" [ngClass]="{ 'open': isOpen }" (click)="openSidebar()" >
  <button class="sidebar-btn">
    <span class="icon">&#x2630;</span>
  </button>
  <img *ngIf="imageUrl" [src]="imageUrl" alt="Profile Picture" />
  <div class="userDiv">
  <div *ngIf="isOpen" class="user">
    {{user.username}}
  </div>
    <div class="welcome">{{'welcome' | translate}} {{user.username}}</div>
  </div>
  <div class="buttons">
    <div  *ngIf="hasGrant('CanViewTickets')" (click)="openTickets()">{{'tickets'| translate}}</div>
  </div>
  <div class="buttons">
    <div  *ngIf="hasGrant('CanViewTransactions')" (click)="openTransactions()">{{'transactions'| translate}}</div>
  </div>
  <div class="buttons">
    <div  (click)="openPlayers()">{{'players' | translate}}</div>
  </div>
<div class="tables">
  <div *ngIf="showTicketDetails" >
    <app-tickets></app-tickets>
  </div>
  <div *ngIf="showTransactionDetails">
    <app-transaction></app-transaction>
  </div>
</div>
</div>
