
<h2>{{ 'translate.ticket_Details' | translate }}</h2>

<div class="ticketDetails" *ngIf="ticket | async as ticket">
  <div>
    <strong>{{ 'translate.player' | translate }} ID:</strong> {{ ticket.playerId }}
  </div>
  <div>
    <strong>{{ 'translate.username' | translate }}:</strong> {{ findPlayerById(ticket.playerId) }}
  </div>
  <div>
    <strong>{{ 'translate.created_at' | translate }}:</strong> {{ ticket.createdAt | date: 'medium' }}
  </div>
  <div>
    <strong>{{ 'translate.pay_in_amount' | translate }}:</strong> {{ ticket.payInAmount }} {{ ticket.currency }}
  </div>
  <div>
    <strong>{{ 'translate.pay_out_amount' | translate }}:</strong> {{ ticket.payOutAmount }} {{ ticket.currency }}
  </div>
  <div>
    <strong>{{ 'translate.status' | translate }}:</strong> {{ ticket.status }}
  </div>

  <h3>{{ 'translate.bets' | translate }}:</h3>

  <table>
    <app-bets betsId="{{ticket.id}}"></app-bets>
  </table>
</div>
<div class="button">
  <app-button-form buttonName="{{ 'translate.dashboard' | translate }} " routerLink="/dashboard"></app-button-form>
</div>
<app-logout-form></app-logout-form>
<div class="lang">
  <app-language-switcher color="black"></app-language-switcher>
</div>
