<h2>Ticket Details</h2>

<div class="ticketDetails" *ngIf="ticket | async as ticket">
  <div>
    <strong>Player ID:</strong> {{ ticket.playerId }}
  </div>
  <div>
    <strong>Player Username:</strong> {{ findPlayerById(ticket.playerId) }}
  </div>
  <div>
    <strong>Created At:</strong> {{ ticket.createdAt | date: 'medium' }}
  </div>
  <div>
    <strong>Pay In Amount:</strong> {{ ticket.payInAmount }} {{ ticket.currency }}
  </div>
  <div>
    <strong>Pay Out Amount:</strong> {{ ticket.payOutAmount }} {{ ticket.currency }}
  </div>
  <div>
    <strong>Status:</strong> {{ ticket.status }}
  </div>

  <h3>Bets:</h3>

  <table>
    <app-bets betsId="{{ticket.id}}"></app-bets>
  </table>
</div>
<div class="button">
  <app-button-form buttonName="Back to dashboard" routerLink="/dashboard"></app-button-form>
</div>
<app-logout-form></app-logout-form>
<app-language-switcher color="black"></app-language-switcher>
