.popup-container {
  display: none;
  position: fixed;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: auto ;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: hsla(0, 7%, 3%, 0.94);
  color: #d7d1d1;
  z-index: 1000;
}
.popup-container.active, .overlay.active {
  display: block;
}
.TransactionDDetail {
  margin: 20px;
}
.transaction-details {
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 15px;
  cursor: pointer;

  color: #d7d1d1;
  background: #323232;
}
.button{
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.transaction-details div {
  margin-bottom: 10px;
}
