<body>
<div class="filterButton">
<app-button-form  (click)="showFilter()"  buttonName="Filter"></app-button-form>
</div>
<div *ngIf="filterShow">


  <form (ngSubmit)="applyFilter()">
    <mat-form-field>
      <mat-label>{{ 'translate.username' | translate }}</mat-label>
      <mat-select name="username" [(ngModel)]="userName">
        <mat-option *ngFor="let player of players" [value]="player.username">
          {{ player.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'translate.status' | translate }}</mat-label>
      <mat-select name="status" [(ngModel)]="filter.status">
        <mat-option *ngFor="let option of statusOptions" [value]="option">
          {{ 'translate.' + option | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'translate.start_date' | translate }}</mat-label>
      <input matInput type="date" id="startDate" name="createdFrom" [(ngModel)]="filter.createdFrom" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'translate.end_date' | translate }}</mat-label>
      <input matInput type="date" id="endDate" name="createdTo" [(ngModel)]="filter.createdTo" />
    </mat-form-field>

    <app-button-form  buttonName="{{ 'translate.filter' | translate }}"></app-button-form>
  </form>


</div>
<div *ngIf="tickets && tickets.length > 0">
  <table>
    <thead class="header">
    <tr>
      <th>ID</th>
      <th>{{ 'translate.player' | translate }} ID</th>
      <th>{{ 'translate.created_at' | translate }}</th>
      <th>{{ 'translate.pay_in_amount' | translate }}</th>
      <th>{{ 'translate.pay_out_amount' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let ticket of tickets">
      <tr (click)="toggleDetails(ticket.id)">
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.playerId }}</td>
        <td>{{ ticket.createdAt |  date :'medium' }}</td>
        <td>{{ ticket.payInAmount }} {{ticket.currency}}</td>
        <td>{{ ticket.payOutAmount }} {{ticket.currency}}</td>
      </tr>
      <tr *ngIf="selectedTicketId === ticket.id">
        <td colspan="5">
          <div class="ticket-details">
            <div *ngIf="ticket.bets && ticket.bets.length > 0">
              <h4>{{ 'translate.bets' | translate }}:</h4>
                <div class="betovi-container">
                  <app-bets betsId="{{ticket.id}}"></app-bets>
                </div>
            </div>
          <div *ngIf="hasGrant()">
              <app-button-form buttonName="Link to Transaction" buttonSize="medium" buttonColor="white" (click)="loadLinkedTransactions(ticket.id)"></app-button-form>
          </div>
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

</div>
</body>


