
.filterButton{
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
}
form {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
mat-form-field {
  margin: 15px;
  color: #000000;
  mat-label, mat-select {
    color: black;
  }
}
mat-form-field {
  color: #000000;
  margin-right: 15px;
}
.table{
  position:relative;
  display:flex;
  justify-content: center;
  margin: 20px;

}

