<body>
<div class="filterButton">
<app-button-form  (click)="showFilter()"  buttonName="Filter"></app-button-form>
</div>
<div *ngIf="filterShow">
<form (ngSubmit)="applyFilter()">
  <label for="username">{{ 'translate.username' | translate }}:</label>
  <select id="username" name="username" [(ngModel)]=userName >
    <option *ngFor="let player of players" [value]="player.username">{{ player.username }}</option>
  </select>

  <label for="status">{{ 'translate.status' | translate }}:</label>
  <select id="status" name="status" [(ngModel)]="filter.status">
    <option *ngFor="let option of statusOptions" [value]="option">
      {{ 'translate.' + option | translate }}
    </option>
  </select>

  <label for="startDate">{{ 'translate.start_date' | translate }}:</label>
  <input type="date" id="startDate" name="createdFrom" [(ngModel)]="filter.createdFrom" />

  <label for="endDate">{{ 'translate.end_date' | translate }}:</label>
  <input type="date" id="endDate" name="createdTo" [(ngModel)]="filter.createdTo" />


  <app-button-form type="submit" buttonAtribute="small" buttonName="{{ 'translate.filter' | translate }}"></app-button-form>
</form>
</div>

<div *ngIf="tickets && tickets.length > 0">
  <app-table [data]="tickets" [columns]="['id', 'playerId', 'createdAt', 'payInAmount', 'payOutAmount']"></app-table>
</div>
</body>


