<table>
  <thead class="header">
  <tr>
    <ng-container *ngFor="let column of configuration">
      <th *ngIf="column.type === 'column'">{{ column.header | translate }}</th>
      <th class="{{column.font}}" *ngIf="column.grant && column.type === 'action'">{{ column.header | translate }}</th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let row of data trackBy: getRowId">
    <tr>
      <ng-container  *ngFor="let column of configuration">
        <td class="{{column.font}}" *ngIf="column.date && column.type === 'column'">{{ row[column.field] | date }}</td>
        <td class="{{column.font}}" *ngIf="column.bind && column.type === 'column'">{{ row[column.field1] | numberFormat }} {{ row[column.field2] | translate}}</td>
         <td class="{{column.font}}" *ngIf="column.source && column.type === 'column'" >{{ column.action(row)  }}</td>
        <td class="{{column.font}}" *ngIf="!column.date && !column.source && !column.bind && column.type === 'column'">{{ row[column.field]  }}</td>
      </ng-container>
      <ng-container  *ngFor="let column of configuration">
        <td class="button" *ngIf="column.grant && column.type === 'action'" (click)=" column.action(row)"><img *ngIf="row[column.value]" src="{{column.image}}" alt="picture"></td>
      </ng-container>
    </tr>
  </ng-container>
  </tbody>
</table>
