<table>
  <thead class="header">
  <tr>
    <ng-container *ngFor="let column of configuration">
      <th *ngIf="column.type === 'column'">
      <th>{{ column.header | translate }}</th>
      <td *ngIf="column.type === 'action'">{{ column.header | translate }}</td>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let row of data">
    <tr>
      <ng-container *ngFor="let column of configuration">
        <th *ngIf="column.type === 'column'">
        <td *ngIf="column.date">{{ row[column.field] | date: 'dd/MM/yyyy' }}</td>
        <td *ngIf="column.bind">{{ row[column.field1] }} {{ row[column.field2] }}</td>
        <td *ngIf="!column.date && !column.bind">{{ row[column.field] }}</td>
      </ng-container>
      <ng-container *ngFor="let column of configuration">
        <th *ngIf="column.type === 'action'">
        <app-button-form *ngIf="column.grant" (click)=" column.action(row)" [buttonName]="column.name | translate"   buttonColor="white"></app-button-form>
      </ng-container>
    </tr>
  </ng-container>
  </tbody>
</table>
