<table>
  <thead class="header">
  <tr>
    <ng-container *ngFor="let column of configuration">
      <th *ngIf="column.type === 'column'">{{ column.header | translate }}</th>
      <td *ngIf="column.type === 'action'">{{ column.header | translate }}</td>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let row of data">
    <tr>
      <ng-container *ngFor="let column of configuration">
        <td *ngIf="column.date && column.type === 'column'">{{ row[column.field] | date: 'dd/MM/yyyy' }}</td>
        <td *ngIf="column.bind && column.type === 'column'">{{ row[column.field1] }} {{ row[column.field2]}}</td>
        <td *ngIf="!column.date && !column.bind && column.type === 'column'">{{ row[column.field]  }}</td>
      </ng-container>
      <ng-container  *ngFor="let column of configuration">
        <td class="button" *ngIf="column.grant && column.type === 'action'" (click)=" column.action(row)"><img src="{{column.image}}" alt="picture"></td>
      </ng-container>
    </tr>
  </ng-container>
  </tbody>
</table>
