th, td {
  width: auto;
  text-align: center;
  cursor: pointer;
}
th{
  padding: 15px;
  margin: 0;
  font-weight: bold;
  color: #dcd7d7;
}
.button{
  background-color: rgba(173, 169, 169, 0);
  padding: 5px;
}
.number{
  text-align: right;
}
.email{
  padding: 0;
  width: 90px;
}
.date{
width:fit-content
}
img{
  height: 40px;
  width: 40px;
}
td{
  padding: 30px;
  font-size: 18px;
}
tr{
  align-items: center;
}
table{
  overflow: hidden;
  border-radius: 16px;
  background: #323232;
  box-shadow: 0 0 20px 5px rgba(10, 10, 10, 0.74);
  position:relative;
  color: #d7d1d1;
  border-collapse: collapse;
  width: 1300px;
}
.header{
  background: #000000;
}
tr:nth-of-type(2n) {
  background: hsla(0, 0%, 0%, 0.1);
}

