<table>
  <thead class="header">
  <tr>
    <ng-container *ngFor="let column of columns">
      <th>{{ column.header }}</th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let row of data | async">
    <tr>
      <ng-container *ngFor="let column of columns">
          <td *ngIf="column.field != ''">{{ row[column.field] ==newId}}</td>
        <app-button-form *ngIf="column.field == ''" buttonColor="white" (click)="action('3')" buttonName="button"></app-button-form>
      </ng-container>
    </tr>
  </ng-container>
  </tbody>
</table>
