div{
  position: relative;
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #111111;
  color: #ada9a9;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
h1{
  font-size: 23px;
  color: #dcd7d7;
  position: relative;
  top:8px
}
app-language-switcher{
  top:15%;
  right: 30%;
}
img{
  height: 40px;
  width: 40px;
}
.logout-button {
  position: absolute;
  color: #ada9a9;
  font-size: 15px;
  height: 45px;
  width:60px;
  top: 0;
  right: 10px;
  padding: 10px;
  background-color: rgba(236, 16, 16, 0);
  cursor: pointer;
  &:hover {
    border: 4px solid rgba(215, 202, 202, 0);
    color: #ffffff;
  }
}
