body {
  margin: 0;
  background-color: rgba(204, 204, 204, 0.4);
  font-family: 'Arial', sans-serif;
}

.login-container {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 80px rgb(0, 0, 0);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;

  .login-header {
    h2 {
      color: darkred;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

    label {
      font-size: 14px;
      .label-text {
        font-size: 15px;
        color: darkred;
      }
    }

    input {
      padding: 10px;
      border: 1px solid rgba(224, 218, 218, 0.4);
      border-radius: 10px;
    }

    button {
      padding: 10px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      &[disabled] {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  .forgot-password {
    margin-top: 15px;
    font-size: 12px;

    a {
      text-decoration: none;
      color: #3498db;
    }
  }

}
