<body>
<div class="container">
  <div class="login-container">
    <div class="login-header">
      <h2>Login</h2>
    </div>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <label for="username">
        <span class="label-text">{{ 'translate.username' | translate }}</span>
      </label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>

      <label for="password">
        <span class="label-text">{{ 'translate.password' | translate }}</span>
      </label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>

      <button type="submit" [disabled]="!loginForm.valid">{{ 'translate.login' | translate }}</button>
    </form>
    <div class="forgot-password">
      <a href="#">{{ 'translate.forgot_password' | translate }}</a>
    </div>
    <div mat-class="error" *ngIf="loginError">Invalid username or password!</div>
  </div>
</div>
</body>

