app-language-switcher {
  margin-left: 10px;
  margin-top: 10px;
  background-color: #d7caca;
  color: #d7caca;
  position: relative;
  top: 10px;
  left: 0;
  z-index: 2;
  border-radius: 50px;
}
router-outlet {

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 99vw;
}


.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 400px;
  height: 100px;
  background-size: cover;
  background-image: url("../assets/branding/large-logo.png");
}

.title {
  color: darkred;
}
}



