body {
  max-width: 100%;
  overflow: auto;
  background-color: #ada9a9;
  router-outlet {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 99vw;
    }
  }
}








