
<app-button *ngIf="!filterShow" class="filterButton" (click)="showFilter()" buttonName="Filter"></app-button>

<app-form *ngIf="filterShow" [configuration]="filterConfiguration" (formSubmit)="applyFilter($event)"></app-form>

<app-sort  [configuration]="sortConfiguration"></app-sort>

<app-table  class="table" [configuration]="tableConfiguration" [data]="tickets"></app-table>

<app-transactionPopUp [transactions]="selectedTransactions"></app-transactionPopUp>

<app-ticketPopUp [ticket]="selectedTicket"></app-ticketPopUp>


