
.filterButton{
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  width: auto;
}
app-form {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center
}
.table{
  position:relative;
  display:flex;
  justify-content: center;
  margin: 20px;
}
.show{
  position: relative;
  left: 50%;
}
app-sort{
  position: relative;
  left: 19%;
}

div {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 16px;

  app-sort{
    margin-top: 25px;
  }

  app-form{
    position: fixed;
    right: 20%;
  }
}
