.filterButton{
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  width: auto;
}

app-table{
  position:relative;
  display:flex;
  justify-content: center;
  margin: 20px;
}
