  <div class="betovi-container">
    <ng-container *ngIf="ticket && ticket.bets && ticket.bets.length > 0">
      <div>
      <div *ngFor="let bet of ticket.bets">
        <div class="betovi">
        <td>{{ 'translate.bet_id' | translate }}: {{ bet.id }}</td>
        <td>{{ 'translate.sport' | translate }}: {{ bet.sport }}</td>
        <td>{{ 'translate.league' | translate }}: {{ bet.league }}</td>
        <td>{{ 'translate.market' | translate }}: {{ bet.market }}</td>
        <td>{{ 'translate.participants' | translate }}: {{ bet.participants }}</td>
        <td>{{ 'translate.odds' | translate }}: {{ bet.odds }}</td>
        <td>{{ 'translate.status' | translate }}: {{ bet.status }}</td>
        <td>{{ 'translate.start_at' | translate }}: {{ bet.startAt | date :'medium' }}</td>
        </div>
      </div>
      </div>
    </ng-container>
  </div>

