<body>
<div class="filterButton">
  <app-button-form  (click)="showFilter()" buttonName="Filter"></app-button-form>
</div>
<div *ngIf="filterShow">
<form (ngSubmit)="applyFilter()">
  <label for="username">{{ 'translate.username' | translate }}:</label>
  <select id="username" name="username" [(ngModel)]=userName >
    <option *ngFor="let player of players" [value]="player.username">{{ player.username }}</option>
  </select>

  <label for="externalId">{{ 'translate.external_id' | translate }}:</label>
  <input type="text" id="externalId" name="externalId" [(ngModel)]="Tfilter.externalId " />

  <label for="type">{{ 'translate.type' | translate }}:</label>
  <select id="type" name="type" [(ngModel)]="Tfilter.type">
    <option *ngFor="let transactionType of getTransactionTypes()" [value]="transactionType">
      {{ 'translate.' + transactionType | translate }}
    </option>
  </select>

  <label for="direction">{{ 'translate.direction' | translate }}:</label>
  <select id="direction" name="direction" [(ngModel)]="Tfilter.direction">
    <option *ngFor="let transactionDirection of getTransactionDirections()" [value]="transactionDirection">
      {{ 'translate.' + transactionDirection | translate }}
    </option>
  </select>

  <label for="provider">{{ 'translate.provider' | translate }}:</label>
  <select id="provider" name="provider" [(ngModel)]="Tfilter.provider">
    <option *ngFor="let transactionProvider of getTransactionProviders()" [value]="transactionProvider">
      {{ 'translate.' + transactionProvider | translate }}    </option>
  </select>

  <label for="createdFrom">{{ 'translate.start_date' | translate }}:</label>
  <input type="date" id="createdFrom" name="createdFrom" [(ngModel)]="filter.createdFrom" />

  <label for="createdTo">{{ 'translate.end_date' | translate }}:</label>
  <input type="date" id="createdTo" name="createdTo" [(ngModel)]="filter.createdTo" />
  <label for="playerId">{{ 'translate.player' | translate }}:</label>
  <input type="text" id="playerId" name="playerId" [(ngModel)]="filter.playerId" />

  <app-button-form  buttonAtribute="small" buttonName="{{ 'translate.filter' | translate }}"></app-button-form>
</form>
</div>
<div *ngIf="transactions && transactions.length > 0">
  <app-table [data]="transactions" [columns]="['id', 'playerId', 'provider', 'amount', 'currency']"></app-table>
</div>
</body>


