div {
  position: absolute;
  padding: 10px 80px;
  width: 80px;
  overflow: hidden;
  top:3%;
  right: 3%;
}
img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 27px;
}
