<div class="popup-container"  *ngIf="player" [ngClass]="{'active' : player}">
    <app-button-form class="button" buttonColor="white" buttonSize="small" buttonName="{{ 'close' | translate }}" (click)="closePopup()"></app-button-form>
  <div class="playerDetails">
    <div>
      <strong>{{ 'player' | translate }} ID:</strong> {{ player.id }}
    </div>
    <div>
      <strong>{{ 'username' | translate }}:</strong> {{ player.username | date: 'medium' }}
    </div>
    <div>
      <strong>{{ 'email' | translate }}:</strong> {{ player.email }}
    </div>
    <div>
      <strong>{{ 'playerCode' | translate }}:</strong> {{ player.playerCode }}
    </div>
    <div>
      <strong>{{ 'Player' | translate }}:</strong> {{ player.firstName }} {{ player.lastName }}
    </div>
  </div>
</div>

<div class="overlay" *ngIf="player" [ngClass]="{'active' : player}" (click)="closePopup()"></div>
