  <div class="betovi-container">
    <ng-container *ngIf="ticket && ticket.bets && ticket.bets.length > 0">
      <div>
      <div *ngFor="let bet of ticket.bets">
        <div class="betovi">
        <td><strong>{{ 'bet_id' | translate }}: </strong> {{ bet.id }}</td>
        <td><strong>{{ 'sport' | translate }}: </strong> {{ bet.sport }}</td>
        <td><strong>{{ 'league' | translate }}: </strong>{{ bet.league }}</td>
        <td><strong>{{ 'market' | translate }}: </strong> {{ bet.market }}</td>
        <td><strong>{{ 'participants' | translate }}: </strong> {{ bet.participants }}</td>
        <td><strong>{{ 'odds' | translate }} </strong> {{ bet.odds }}</td>
        <td><strong>{{ 'status' | translate }}: </strong> {{ bet.status }}</td>
        <td><strong>{{ 'start_at' | translate }}: </strong> {{ bet.startAt | date }}</td>
        </div>
      </div>
      </div>
    </ng-container>
  </div>


