
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ada9a9;
  .tables{
    width: 100%;
    align-content: center;
  }
  .dashboard-container {
    position: relative;
    font-family: 'sans-serif';
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: flex-start;
    align-items: center;
    height: 300vh;
    .dark-background {
      background-color: #090909;
      color: #ffffff;
      padding: 45px;
      width:100%;
      text-align: center;
    }
    .transactionButton{
      color: #ea3e3e;
    }
    .title {
      font-size: 60px;
      margin-top: 10px;
      color: #bdbaba;
    }
    }
  .buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .ticketButton, .transactionButton {
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;

  }
  .user{
    margin-top: 50px;
    color: #2a2929;
    top: 140px;
    font-size: 80px;
    position: relative;
  }
  }






