<body>
<div class="dashboard-container">
  <div class="dark-background" >
    <app-language-switcher></app-language-switcher>
    <h1 class="title">{{ 'dashboard' | translate }} </h1>

    <div class="buttons">
    <div  *ngIf="hasGrant('CanViewTransactions')">
        <app-button-form class="transactionButton" [ngClass]="{'center-transactions': !hasGrant('CanViewTickets')}"  (click)="changeToTransaction()" buttonSize="large" buttonColor="white" buttonName="{{ 'dashboard_transactions' | translate }}"></app-button-form>
  </div>
  <div  *ngIf="hasGrant('CanViewTickets')">
    <app-button-form class="ticketButton" [ngClass]="{'center-tickets': !hasGrant('CanViewTransactions')}"  (click)="changeToTickets()" buttonSize="large" buttonColor="white" buttonName="{{ 'dashboard_tickets' | translate }}"></app-button-form>
  </div>
  </div>
    <app-logout-form Color="white"></app-logout-form>
  </div>

  <app-form [configuration]="Configuration" (formSubmit)="applyFilter($event)"></app-form>
  <app-table [configuration]="ticketTableConfiguration" [data]="tickets"></app-table>

  <div class="tables">
  <div *ngIf="showTicketDetails" >
    <app-tickets></app-tickets>
  </div>
<div *ngIf="showTransactionDetails">
  <app-transaction></app-transaction>
</div>
</div>
</div>


</body>
