<h2>{{ 'translate.transaction_Details' | translate }}</h2>

<div class="TransactionDDetail">
  <mat-card *ngFor="let transactionDetails of transactions$ | async" class="transaction-details">
    <mat-card-content>
      <div><strong>ID:</strong> {{ transactionDetails.id }}</div>
      <div><strong>{{ 'translate.username' | translate }}:</strong> {{ findPlayerById(transactionDetails.externalId) }}</div>
      <div><strong>{{ 'translate.external_id' | translate }}:</strong> {{ transactionDetails.externalId }}</div>
      <div><strong>{{ 'translate.player_id' | translate }}:</strong> {{ transactionDetails.playerId }}</div>
      <div><strong>{{ 'translate.type' | translate }}:</strong> {{ transactionDetails.type }}</div>
      <div><strong>{{ 'translate.direction' | translate }}:</strong> {{ transactionDetails.direction }}</div>
      <div><strong>{{ 'translate.provider' | translate }}:</strong> {{ transactionDetails.provider }}</div>
      <div><strong>{{ 'translate.amount' | translate }}:</strong> {{ transactionDetails.amount }} {{ transactionDetails.currency }}</div>
      <div><strong>{{ 'translate.created_at' | translate }}:</strong> {{ transactionDetails.createdAt |date :'medium' }}</div>
    </mat-card-content>
  </mat-card>

</div>
<div class="button">
<app-button-form buttonName="{{ 'translate.dashboard' | translate }}" buttonSize="medium"  routerLink="/dashboard"></app-button-form>
</div>
<app-logout-form></app-logout-form>
<div class="lang">
  <app-language-switcher color="black"></app-language-switcher>
</div>
