body{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(204, 204, 204, 0);
}
.select {
  background-color: rgba(215, 202, 202, 0);
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  color: #c7c4c4;
  width: 120px;
  border-radius: 50px;
  border: 4px solid #c7c4c4;
  &:hover {
    background-color: rgba(215, 202, 202, 0);
    border: 4px solid rgba(215, 202, 202, 0);
    color: #eae5e5;
  }




}
