.custom-select {

  background-color: #d7caca;
  border: 1px solid #d7caca;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  width: 120px;

  &:hover {
    background-color: #d7caca;
  }




}
