<body>
<div *ngIf="choice=='black'">
  <app-select-input color="black" label="{{ 'language' | translate }}"
                    [options]="[{ value: 'en', label: 'English' }, { value: 'hr', label: 'Croatian' }]"
                    (selectionChange)="changeLang($event)"

  ></app-select-input>
</div>
<div *ngIf="choice=='white'">
  <app-select-input color="white" label="{{ 'language' | translate }}"
                    [options]="[{ value: 'en', label: 'English' }, { value: 'hr', label: 'Croatian' }]"
                    (selectionChange)="changeLang($event)"
  ></app-select-input>
</div>
</body>
