<div>
<div class="popup-container"  *ngIf="transactions  as transaction" [ngClass]="{'active' : transactions}">
  <div>
    <h1>{{ 'transactions' | translate }}</h1>
    <app-button class="button" buttonColor="white" buttonSize="small" buttonName="{{ 'close' | translate }}" (click)="closePopup()"></app-button>
  </div>
  <div class="TransactionDDetail">
    <mat-card *ngFor="let transactionDetails of transactions " (click)="minMax(transactionDetails.id)" class="transaction-details" >
      <mat-card-content >
        <div>
        <div><strong>ID:</strong> {{ transactionDetails.id }}</div>
        <div *ngIf="minimizedState[transactionDetails.id]">
        <div><strong>{{ 'username' | translate }}:</strong> {{ findPlayerById(transactionDetails.playerId) }}</div>
        <div><strong>{{ 'external_id' | translate }}:</strong> {{ transactionDetails.externalId }}</div>
        <div><strong>{{ 'player_id' | translate }}:</strong> {{ transactionDetails.playerId }}</div>
        <div><strong>{{ 'type' | translate }}:</strong> {{ transactionDetails.type }}</div>
        <div><strong>{{ 'direction' | translate }}:</strong> {{ transactionDetails.direction }}</div>
        <div><strong>{{ 'provider' | translate }}:</strong> {{ transactionDetails.provider }}</div>
        <div><strong>{{ 'amount' | translate }}:</strong> {{ transactionDetails.amount | numberFormat }} {{ transactionDetails.currency }}</div>
        <div><strong>{{ 'created_at' | translate }}:</strong> {{ transactionDetails.createdAt | date  }}</div>
        </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
</div>
<div class="overlay" *ngIf="transactions  as transaction" [ngClass]="{'active' : transactions}" (click)="closePopup()"></div>
